.container

  = form_tag sessions_path, class: "form-signin" do
    %h1.form-signin-heading Sign in
    %p
      = text_field_tag :email, params[:email],
            placeholder: "Email address",
            required: "autofocus",
            class: "form-control"
    %p
      = password_field_tag :password, nil,
            placeholder: "Password",
            required: "autofocus",
            class: "form-control"
    %p
      = button_tag "Sign in", class: "btn btn-lg btn-primary btn-block"
