%h1
  Assignments

  .pull-right
    = link_to assignments_path(mode: :tutor_view), class: "btn btn-primary margin-side-5" do
      %i.fa.fa-magic
      By Tutor

    = link_to assignments_path(mode: :student_view), class: "btn btn-primary margin-side-5" do
      %i.fa.fa-lightbulb-o
      By Student
