.card
  %h2= student.name
  = link_to new_assignment_path, class: "add-assignment btn btn-info" do
    %i.fa.fa-plus.fa-lg

  %ul
    - student.assignments.each do |assignment|
      %li
        = assignment.user.name
        = link_to assignment_path(assignment), method: :delete, class: "delete-assignment" do
          %i.fa.fa-minus-circle.red

