-if flash[:success]
  .alert.alert-success.alert-dismissable
    = button_tag "x", class: "close", data: {dismiss: "alert"}, aria: {hidden: true}
    %strong Success!
    = flash[:success]
-if flash[:error]
  .alert.alert-danger.alert-dismissable
    = button_tag "x", class: "close", data: {dismiss: "alert"}, aria: {hidden: true}
    %strong Oops!
    = flash[:error]
