#landing
  .hero-unit
    .container
      %h1 Exams? Easy.
      %h2 Top Tutorials helps your child learn for exams and for life
      %br
      %br
      .btn.btn-lg.btn-warning
        %h4 Learn more about our Top Services
  .row.offers
    .col-md-10.col-md-offset-1
      %h1.header We take pride in these traits:
      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                %i.fa.fa-home
                Home-Based
            .panel-body
              Adipisicing quos architecto illo suscipit porro officiis. Commodi assumenda quas laborum est natus.
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Proficient
            .panel-body
              Adipisicing quos architecto illo suscipit porro officiis. Commodi assumenda quas laborum est natus.
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Cost-Effective
            .panel-body
              Adipisicing quos architecto illo suscipit porro officiis. Commodi assumenda quas laborum est natus.

